<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
</head>
<body>
    <header class="header">
        <nav>
          <h1>KEEP TEXAS WILD</h1>
          <button>National Parks</button>
          <button>State Parks</button>
          <button>Add Parks</button>
        </nav>
        <div id="stripes"></div>
    </header>
    <form action="/profiles" method="POST">
        <label>Full Name:</label>
        <input type="text" name="name">
        <label>Email:</label>
        <input type="text" name="email">
        <label>Phone Number:</label>
        <input type="Number" name="phone">
        <label for="about">About Me</label>
        <textarea name="about-content" id="about"></textarea>
        <label for="journal">Add Journal Entry</label>
        <textarea name="journal-content" id="about"></textarea>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>