<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Profile</title>
</head>
<body>
    <h1>Here's your Profile Dummy:</h1>
    <% if (profile) { %>
        <section>
            <% profile.forEach(function(p) { %>
                <div>Name: </div>
                <div><%= p.fullName %></div>
                <div>Phone: </div>
                <div><%= p.phoneNumber %></div>
                <div>About: </div>
                <div><%= p.aboutInfo %></div>
            <% }) %> 
        </section>
    <% } %> 
    <button><a href="/profiles/new">Add or Update Profile</a></button>
</body>
</html>