<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
  <head>
    <title>Keep Texas Wild</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <nav>
        <h1>KEEP TEXAS WILD</h1>
      </nav>
      <div class="stripes"></div>
    </header>
    <div class="container">
      <ul>
        <h4>Login to Explore the Glorious Parks of Texas.</h4><br>
        <% if(user) { %>
            <a class="login" href="/logout">Logout</a>
        <% } else { %>
            <a class="login" href="/auth/google">Login with Google</a>
        <% } %>
      </ul>
    </div>
  </body>
</html>