<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
  <head>
    <title>Keep Texas Wild</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <nav>
        <h1>KEEP TEXAS WILD</h1>
      </nav>
      <div id="stripes"></div>
    </header>
    <div id="container">
      <ul>
        <h3>Welcome to The Glorious Parks of Texas.</h3>
        <% if(user) { %>
            <a class="login" href="/logout">Logout</a>
        <% } else { %>
            <a class="login" href="/auth/google">Login with Google</a>
        <% } %>
      </ul>
    </div>
  </body>
</html>