* {
  box-sizing: border-box;
  margin: 0;
}

footer {
  text-align: center;
}

.header {
  height: 15vh;
  background-color: #1e3879;
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
}

.log-screen {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 75px 100px 75px 100px;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
  color: rgb(237, 221, 156);
  font-size: 30px;
}

.login {
  color: white;
  text-decoration: none;
}

.login:hover {
  color: rgb(93, 93, 249);
}

#login-header {
  font-family: 'Squada One';
  font-size: 80px;
  font-weight: 300;
  margin-left: 30px;
  color: rgb(237, 221, 156);
  text-shadow: 0 4px 0 red;
}

.left {
  font-family: 'Squada One';
  font-size: 50px;
  font-weight: 200;
  margin-left: 30px;
  color: rgb(237, 221, 156);
  text-shadow: 0 4px 0 red;
}

.header-links {
  color:rgb(237, 221, 156);
  text-decoration: none; 
}

.index-header {
  height: 15vh;
  background-color: rgb(30, 56, 121);
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#parks-header {
  margin-left: 30px;
  font-family: 'Squada One';
  font-size: 40px;
  font-weight: 200;
}

#index-nav {
  margin-right: 30px;
  margin-top: 42px;
  margin-bottom: 42px;
  margin: 42px 30px 42px 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  background-image: url(https://i.imgur.com/gEUZXhL.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-index {
  border-radius: 2%;
  width: 150px;
  height: 110px;
}

th, tbody {
  font-size: 20px;
}

#cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  text-align: center;
  width: 80% !important;
}

.home-footer {
  text-align: center;
  background-color: black;
  color: white;
}

table.highlight1>tbody>tr:hover, table.highlight2>tbody>tr:hover {
  background-color: rgb(228, 217, 217) !important;
}

.right {
  font-size: 20px;
}

.highlight1 {
  margin-bottom: 50px;
}

.logout {
  font-size: 25px;
  margin-right: 20px;
  color: rgb(237, 221, 156);
}

.show-img {
  margin-top: 10px;
  width: 650px;
  height: 450px;
}

.park-info {
  font-size: 20px;
  margin-right: 30px;
}

.baby-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.details {
  font-size: 15px;
}

.additional {
  border: 5px solid black;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}