<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <title>National Parks</title>
</head>
<body>
    <header class="header">
        <nav id="parks-nav">
          <h3>Texas Parks</h3>
          <a href="/logout">Logout</a>
        </nav>
    </header>
    <table>
        <thead>
            <tr>
                <th>Rating</th>
                <th>National Parks</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% parks.forEach(function(p) { %>
                <tr>
                    <% if (p.parkType === 'National') { %> 
                        <td></td>
                        <td><%= p.parkName %></td>
                        <td><a href="/parks/<%= p._id %> ">Details and Reviews</a></td>
                    <% } %> 
                </tr>
            <% }) %>
            <tr>
                <th>Rating</th>
                <th>State Parks</th>
                <th></th>
            </tr>
            <% parks.forEach(function(p) { %>
                <tr>
                    <% if (p.parkType === 'State') { %> 
                        <td></td>
                        <td><%= p.parkName %></td>
                        <td><a href="/parks/<%= p._id %> ">Details and Reviews</a></td>
                    <% } %> 
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>