<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Park Details</title>
</head>
<body>
    <header class="header">
        <nav id="parks-nav">
          <h3>p.parkName</h3>
          <a href="/parks">View All Parks</a>
          <a href="/profiles">View Profile</a>
        </nav>
    </header>
</body>
</html>